test_ecss-4f-dh-dataset.py
coco8/
datasets
datasets/
finetune.yolov8.py
*.db
fused
iTeachModels/
test_datasets/
rec_vids/
runs/
test_dataset.257/
Dataset/images/*
Dataset/labels/*
Dataset/depth/*
IRVLImageLabelling/Temp
IRVLImageLabelling/.vsconfig
IRVLImageLabelling/Assembly-CSharp.csproj
IRVLImageLabelling/.vs
IRVLImageLabelling/Library
IRVLImageLabelling/Logs
IRVLImageLabelling/IRVLImageLabelling.sln
IRVLImageLabelling/UserSettings
Dataset/labels.cache
Model(reference)/*

__pycache__
models/__pycache__
utils/__pycache__
utils/loggers
yolov5m.pt
yolov5s.pt
Model (reference)
Model/*
Dataset/
